@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  fill: currentColor;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    width: 1080px;
  }
}

.title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
  }
}

.label {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .label {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .label {
    font-size: 30px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantages-list__item-text {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  max-width: 230px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages-list__item-text {
    font-size: 14px;
    line-height: 1.7;
    max-width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item-text {
    font-size: 16px;
    line-height: 1.76;
    max-width: 330px;
  }
}

.advantages {
  background-color: #fff5f6;
  width: 100%;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-left: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-left: 115px;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -38px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    margin: 0 -30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    margin: 0 -15px;
  }
}

.title {
  text-align: left;
  margin-bottom: 15px;
}

.advantages-list > .advantages-list__item {
  margin: 0 15px;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .advantages-list > .advantages-list__item {
    flex-basis: calc(100% / 3 - 60px);
    margin: 0 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list > .advantages-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 0 15px;
  }
}

.advantages-list__item::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__item::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item::before {
    margin-bottom: 40px;
  }
}

.advantages-list__item:nth-child(1)::before {
  width: 33px;
  background-image: url(../images/common/adv-1@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .advantages-list__item:nth-child(1)::before {
    background-image: url(../images/common/adv-1@2x.png);
  }
}

.advantages-list__item:nth-child(2)::before {
  width: 50px;
  background-image: url(../images/common/adv-2@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .advantages-list__item:nth-child(2)::before {
    background-image: url(../images/common/adv-2@2x.png);
  }
}

.advantages-list__item:nth-child(3)::before {
  width: 44px;
  background-image: url(../images/common/adv-3@1x.png);
}/*# sourceMappingURL=main.css.map */