$text-one: #000000;
$text-two: #ffffff;
$text-three: #907e82;
$text-four: #ffa5ba;
$text-accent: #d41443;

$bg-one: #ffffff;
$bg-two: #fff5f6;
$bg-three: #ffb8ca;
$bg-accent: #d41443;

$bg-hover-one: #c7133e;
$bg-hover-two: #ecebeb;
$bg-mobile: #e17992;

$switch: 250ms cubic-bezier(0.4, 0, 0.2, 1);
