<section class="about" id="about">
    <div class="container about__container">
        <p class="about__label label">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>

        <div class="about__content">
            <picture class="about__picture">
                <source srcset="./images/desktop/d-about-cow@1x.png 1x, 
                        ./images/desktop/d-about-cow@2x.png 2x" media="(min-width:1200px)" />
            
                <source srcset="./images/tablet/t-about-cow@1x.png 1x, 
                        ./images/tablet/t-about-cow@2x.png 2x" media="(min-width:768px)" />
            
                <source srcset="./images/mobile/m-about-cow@1x.png 1x, 
                        ./images/mobile/m-about-cow@2x.png 2x" media="(min-width:320px)" />
            
                <img src="./images/desktop/d-about-cow@1x.png" alt="cow">
            </picture>
            
            <div class="description">
                <ul class="description__list list">
                    <li class="description__item">
                        <p class="description__text">
                            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                            egestas
                            eros.
                            Maecenas eleifend erat at justo fringilla.
                        </p>
                    </li>
                    <li class="description__item">
                        <p class="description__text text2">
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                            placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                        </p>
                    </li>
                    <li class="description__item">
                        <p class="description__text text2">
                            Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    </li>
                </ul>
            
                <button class="description__button" data-modal-about-open>
                    Read more
                    <img class="about-button__arrow" src="./images/common/vector_2.png" alt="arrow">
                </button>
            </div>
        </div>
    </div>
</section>