<section class="advantages">
  <div class="advantages-container">
    <div class="container">
      <h1 class="visually-hidden">Advantages</h1>
      <ul class="advantages-list">
        <li class="advantages-list__item">
          <h3 class="title">721</h3>
          <p class="advantages-list__item-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <h3 class="title">16kg</h3>
          <p class="advantages-list__item-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>

        <li class="advantages-list__item">
          <h3 class="title">84</h3>
          <p class="advantages-list__item-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
