<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="advantages">
      <div class="advantages-container">
        <h1 class="visually-hidden">Преимущества</h1>
        <ul class="advantages-list">
          <li class="advantages-list__item">
            <h3 class="title">721</h3>
            <p class="advantages-list__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="advantages-list__item">
            <h3 class="title">16kg</h3>
            <p class="advantages-list__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>

          <li class="advantages-list__item">
            <h3 class="title">84</h3>
            <p class="advantages-list__item-text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
