<section class="hero-header">
    <div class="container hero__container">
    <header class="header">
        <div class="header__container">
    <a class="logo" href="./index.html" lang="en">
        <picture>
            <source srcset="./images/common/logo@1x.png 1x,
                          ./images/common/logo@2x.png 2x"/>
             <img src="./images/common/logo@1x.png" width="199" alt="Icecream logo" />
        </picture>
    </a>
    <button type="button" class="menu__open" data-mobile-menu-open >
        <svg class="menu__open__btn" aria-label="open menu">
            <use href="./images/sprite.svg#burger" width="20" height="12"></use>
        </svg>
    </button>
    <button class="mobile__btn mobile__btn--tablet btn" type="button"><span>Buy now</span>
        <svg class="header__btn--arrow" width="14" height="14">
            <use href="./images/sprite.svg#btn"></use>
        </svg>
    </button>
    </div>
    <div class="mobile-menu" data-mobile-menu>
            <button type="button" class="menu__close" data-mobile-menu-close>
                <svg class="menu__close__btn" aria-label="close menu">
                    <use href="./images/sprite.svg#close" width="14" height="14"></use>
                </svg>
            </button>
            <button class="mobile__btn btn" type="button" data-modal-open><span>Buy now</span>
                <svg class="mobile__btn--arrow" width="14" height="14">
                    <use href="./images/sprite.svg#btn"></use>
                </svg>
            </button>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a data-goto=".hero-header" class="nav__link" href="#">Home</a></li>
                        <li class="nav__item"><a data-goto=".footer"class="nav__link" href="#">About us</a></li>
                        <li class="nav__item"><a data-goto=".about" class="nav__link" href="#">How it`s made</a></li>
                        <li class="nav__item"><a data-goto=".products" class="nav__link" href="#">Our products</a></li>
                        <li class="nav__item"><a data-goto=".contacts" class="nav__link" href="#">Contact</a></li>
                    </ul>
                </nav>
        </div>
</header>
<div class="hero__section">
    <div class="hero__circle"></div>
    <div class="hero__icecream"></div>
    <div class="hero__milk"></div>
    <div class="hero__person"></div>
    <ul class="hero__counts counts">
        <li class="counts__item"><span class="counts__number">16</span><span class="counts__type">cafes</span></li>
        <li class="counts__item"><span class="counts__number">23</span><span class="counts__type">trucks</span></li>
    </ul>
</div>
    <div class="hero__content">
        <h1 class="hero__title">
                Ice Cream</br>
                Made With</br>
                <span class="hero__title--accent">Passion</span>
        </h1>
        <a class="hero__link hero__link--red" data-goto=".products" href="">Products</a>
        <a class="hero__link" data-goto=".about" href="">How it's made</a>
        <div class="hero__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="" class="arrow">
                <img srcset=" 
                ./images/tablet/t-hero-arrow@1x.png 18w, 
                ./images/tablet/t-hero-arrow@2x.png 36w, 
                ./images/desktop/d-hero-arrow@1x.png 26w, 
                ./images/desktop/d-hero-arrow@2x.png 52w"
                    sizes="(min-width: 1200px) 26px, 
                    (min-width: 768px) 18px" 
                    src="./images/tablet/t-hero-arrow@1x.png"
                    alt="go to">
            </a>
        </div>
    </div> 
 </div>      
</section>