<section class="hero-header">
    <div class="container hero__container">
    <header class="header">
        <div class="header__container">
    <a class="logo" href="./index.html" lang="en">
        <picture>
            <source srcset="./images/common/logo@1x.png 1x,
                          ./images/common/logo@2x.png 2x" media="(min-width:320px)" />
             <img src="./images/common/logo@1x.png" width="199" alt="Icecream logo" />
        </picture>
    </a>
    <button type="button" class="menu__open-mobile">
        <svg class="menu__open__btn">
            <use href="./images/sprite.svg#burger" width="20" height="12"></use>
        </svg>
    </button>
    </div>
</header>
<div class="hero__section">
    <div class="hero__circle"></div>
    <div class="hero__icecream"></div>
</div>
    <div class="hero__content">
        <h1 class="hero__title">
                Ice Cream</br>
                Made With</br>
                <span class="hero__title--accent">Passion</span>
        </h1>
        <a class="hero__link" href="#products">Products</a>
        <a class="hero__link" href="#about">How it's made</a>
    </div>    
</section>