<!-- BUY NOW -->
<div class="backdrop" data-modal>
    <div class="modal">
        <button type="button" class="modal__btn--close" data-modal-close>
            <svg  width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__title">Do you want some?</p>
        <form class="buy" name="backcall" autocomplete="on">
            <label class="buy__item">
                <p class="buy__label">Name</p>
                <input class="buy__input" name="name" type="text" placeholder=" ">
            </label>
            <label class="buy__item">
                <p class="buy__label">Phone number</p>
                <input class="buy__input" name="tel" type="tel" placeholder=" ">
            </label>
            <label class="buy__item">
                <p class="buy__label">E-mail</p>
                <input class="buy__input" name="email" type="email" placeholder=" ">
            </label>
            <label class="terms">
                <input class="terms__input" name="subscribtion-approval" type="checkbox">
                <span class="checkbox"></span>
                <p class="terms__text">Yes, I want a lot of <span>IceCream</span></p>
            </label>
            <button class="modal__submit" type="submit">Connect me!</button>
        </form>
    </div>
</div>



<!-- <h1>Hows made? -->
<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal-btn-close" >
             <svg class="read-more__close-icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal__title title">How it’s made?</h2>
        <div class="discription">
             <ul class="discription__list list">
                 <li class="discription__item">
                    <p class="discription__text">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                    </p>
                </li>
                <li class="discription__item">
                    <p class="discription__text text2">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    </p>
                 </li>
                <li class="discription__item">
                    <p class="discription__text text2">
                        Aliquam erat volutpat. Aenean accumsan. Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                        placerat.Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    </p>
                </li>
            </ul>
                
            </div>
        </div>
</div>
<!-- Our locations -->

<div class="backdrop is-hidden">
        <div class="modal">
            <button type="button" class="modal-btn-close">
            <svg class="read-more__close-icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
            </button>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21329442.148878552!2d-94.58275336707379!3d39.09898706072556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LPQvtGA0L7QtNCwINGB0YjQsA!5e0!3m2!1sru!2sua!4v1642339212445!5m2!1sru!2sua"
                width="200" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <h2 class="read-more__title title">Our store</h2>
        </div>
</div>

<!-- fhanchise -->
<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal-btn-close">
            <svg class="read-more__close-icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21329442.148878552!2d-94.58275336707379!3d39.09898706072556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LPQvtGA0L7QtNCwINGB0YjQsA!5e0!3m2!1sru!2sua!4v1642339212445!5m2!1sru!2sua"
        width="200" height="400" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>            
    <h2 class="modal__fhanchise-title title">We are in the cities</h2>
    </div>
</div>