<!-- BUY NOW -->
<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__btn--close" data-modal-close>
            <svg  width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__title">Do you want some?</p>
        <form class="buy" name="backcall" autocomplete="on">
            <label class="buy__item">
                <p class="buy__label">Name</p>
                <input class="buy__input" name="name" type="text" placeholder=" ">
            </label>
            <label class="buy__item">
                <p class="buy__label">Phone number</p>
                <input class="buy__input" name="tel" type="tel" placeholder=" ">
            </label>
            <label class="buy__item">
                <p class="buy__label">E-mail</p>
                <input class="buy__input" name="email" type="email" placeholder=" ">
            </label>
            <label class="terms">
                <input class="terms__input" name="subscribtion-approval" type="checkbox">
                <span class="checkbox"></span>
                <p class="terms__text">Yes, I want a lot of <span>IceCream</span></p>
            </label>
            <button class="modal__submit" type="submit">Connect me!</button>
        </form>
    </div>
</div>



<!-- <h1>Hows made? -->
<div class="backdrop backdrop--is-hidden" data-modal-about>
    <div class="modal modal--about">
        <button type="button" class="modal__btn--close modal__btn--about" data-modal-about-close>
            <svg width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title modal__title--about">Let us tell you a story about <span>IceCream</span></h3>
        <div class="modal__descr--about">
            <p>
               Our love affair with ice cream is centuries old. The ancient Greeks, Romans, and Jews were known to chill wines and
            juices. This practice evolved into fruit ices and, eventually, frozen milk and cream mixtures. In the first century,
            Emperor Nero reportedly sent messengers to the mountains to collect snow so that his kitchen staff could make
            concoctions flavored with fruit and honey. Twelve centuries later, Marco Polo introduced Europe to a frozen milk dessert
            similar to the modern sherbet that he had enjoyed in the Far East. The Italians were especially fond of the frozen
            confection that by the sixteenth century was being called ice cream. In 1533, the young Italian princess Catherine de
            Medici went to France as the bride of the future King Henry II. Included in her trousseau were recipes for frozen
            desserts. The first public sale of ice cream occurred in Paris at the Café Procope in 1670. 
            </p>

            <p>Frozen desserts were also popular in England. Guests at the coronation banquet of Henry V of England in the fourteenth
            century enjoyed a dessert called cremefrez. By the seventeenth century, Charles I was served creme ice on a regular
            basis. Eighteen-century English cookbooks contained recipes for ice cream flavored with apricots, violets, rose petals,
            chocolate, and caramel. Other early flavorings included macaroon and rum. In early America, George Washington and Thomas
            Jefferson were especially fond of ice cream. Dolley Madison was known to serve it at White House state dinners.
            </p>

            <p>
                Because ice was expensive and refrigeration had not yet been invented, ice cream was still considered a treat for the
            wealthy or for those in colder climates. (In a note written in 1794, Beethoven described the Austrians' fear that an
            unseasonably warm winter would prevent them from enjoying ice cream.) Furthermore, the process of making ice cream was
            cumbersome and time-consuming. A mixture of dairy products, eggs, and flavorings was poured into a pot and beaten while,
            simultaneously, the pot was shaken up and down in a pan of salt and ice.
            </p>
        </div>
    </div>
</div>
<!-- Our locations -->

<div class="backdrop is-hidden">
        <div class="modal">
            <button type="button" class="modal-btn-close">
            <svg class="read-more__close-icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
            </button>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21329442.148878552!2d-94.58275336707379!3d39.09898706072556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LPQvtGA0L7QtNCwINGB0YjQsA!5e0!3m2!1sru!2sua!4v1642339212445!5m2!1sru!2sua"
                width="200" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <h2 class="read-more__title title">Our store</h2>
        </div>
</div>

<!-- fhanchise -->
<div class="backdrop is-hidden">
    <div class="modal">
        <button type="button" class="modal-btn-close">
            <svg class="read-more__close-icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21329442.148878552!2d-94.58275336707379!3d39.09898706072556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LPQvtGA0L7QtNCwINGB0YjQsA!5e0!3m2!1sru!2sua!4v1642339212445!5m2!1sru!2sua"
        width="200" height="400" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>            
    <h2 class="modal__fhanchise-title title">We are in the cities</h2>
    </div>
</div>