<!-- BUY NOW -->
<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__btn--close" data-modal-close>
            <svg  width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__title">Do you want some?</p>
        <form class="buy" name="backcall" autocomplete="on">
            <label class="buy__item">
                <span class="buy__label">Name</span>
                <input class="buy__input" name="name" type="text" placeholder=" ">
            </label>
            <label class="buy__item">
                <span class="buy__label">Phone number</span>
                <input class="buy__input" name="tel" type="tel" placeholder=" ">
            </label>
            <label class="buy__item">
                <span class="buy__label">E-mail</span>
                <input class="buy__input" name="email" type="email" placeholder=" ">
            </label>
            <label class="terms">
                <input class="terms__input" name="subscribtion-approval" type="checkbox">
                <span class="checkbox"></span>
                <span class="terms__text">Yes, I want a lot of <span>IceCream</span></span>
            </label>
            <button class="modal__submit" type="submit">Connect me!</button>
        </form>
    </div>
</div>

<!-- How It`s made? -->
<div class="backdrop backdrop--is-hidden" data-modal-about>
    <div class="modal modal--about">
        <button type="button" class="modal__btn--close modal__btn--about" data-modal-about-close>
            <svg width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title modal__title--about">Let us tell you a story about <span>IceCream</span></h3>
        <div class="modal__descr--about">
            <p>
                Our love affair with ice cream is centuries old. The ancient Greeks, Romans, and Jews were known to
                chill wines and
                juices. This practice evolved into fruit ices and, eventually, frozen milk and cream mixtures. In the
                first century,
                Emperor Nero reportedly sent messengers to the mountains to collect snow so that his kitchen staff could
                make
                concoctions flavored with fruit and honey. Twelve centuries later, Marco Polo introduced Europe to a
                frozen milk dessert
                similar to the modern sherbet that he had enjoyed in the Far East. The Italians were especially fond of
                the frozen
                confection that by the sixteenth century was being called ice cream. In 1533, the young Italian princess
                Catherine de
                Medici went to France as the bride of the future King Henry II. Included in her trousseau were recipes
                for frozen
                desserts. The first public sale of ice cream occurred in Paris at the Café Procope in 1670.
            </p>

            <p>Frozen desserts were also popular in England. Guests at the coronation banquet of Henry V of England in
                the fourteenth
                century enjoyed a dessert called cremefrez. By the seventeenth century, Charles I was served creme ice
                on a regular
                basis. Eighteen-century English cookbooks contained recipes for ice cream flavored with apricots,
                violets, rose petals,
                chocolate, and caramel. Other early flavorings included macaroon and rum. In early America, George
                Washington and Thomas
                Jefferson were especially fond of ice cream. Dolley Madison was known to serve it at White House state
                dinners.
            </p>

            <p>
                Because ice was expensive and refrigeration had not yet been invented, ice cream was still considered a
                treat for the
                wealthy or for those in colder climates. (In a note written in 1794, Beethoven described the Austrians'
                fear that an
                unseasonably warm winter would prevent them from enjoying ice cream.) Furthermore, the process of making
                ice cream was
                cumbersome and time-consuming. A mixture of dairy products, eggs, and flavorings was poured into a pot
                and beaten while,
                simultaneously, the pot was shaken up and down in a pan of salt and ice.
            </p>
        </div>
    </div>
</div>

<!-- Facts about milk -->
<div class="backdrop backdrop--is-hidden" data-modal-hero>
    <div class="modal modal--hero ">
        <button type="button" class="modal__btn--close modal__btn--hero" data-modal-hero-close>
            <svg width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal__title modal__title--hero">Facts about <span>Milk and Health</span></h3>
        <div class="modal__hero--about">
            <p>In our products, we use only natural milk from well-known US brands.
            We want to tell you some useful facts about milk.</p>
          <p><span>Drinking milk is perfectly natural</span></p>
          <p><span>Milk is the only food that you can survive on wholly on,</span> having every nutrient your body needs to live</p>
          <p><span>Milk has purifying properties</span> and a milk cleanse is a great way to detox your body</p>
          <p>Milk not only feeds you, but also feeds the bacteria in your gut and many<span> nutrients in milk act as prebiotics</span>to keep your gut bacteria healthy</p>
          <p><span>People who drink more milk during formative years, grow taller</span></p>
          <p><span>Countries that drink milk are smarter</span> and win more Nobel prizes</p>
          <p><span>Milk is the best recovery drink</span> after a workout or other physical activity. The combination of carbohydrates, fat, protein, and other micronutrients
                    makes milk the premier recovery drink, possibly even more effective than commercially available sports drinks at
                    promoting recovery from strength and endurance exercise</p>
          <p><span>Milk is the most hydrating beverage you can drink</span> – researchers used water as a control and assigned a value of 1.0 on the Body Hydrating Index (BHI). Skim milk (1.58)
                    and full-fat milk (1.50) were more hydrating than water itself</p>
          <p><span>Lactose Intolerance can be cured</span></p>
          <p><span>Milk is one of the most nutritionally dense food you can buy</span> - At about 25 cents per serving, milk is a low-cost option with nine nutrients essential to our health including protein,
                    calcium, potassium, phosphorous, riboflavin, niacin as well as vitamins A, D and B12.</p>
        </div>
    </div>
</div>

<!-- Our locations -->
<div class="backdrop backdrop--is-hidden" data-modal-locations>
    <div class="modal modal--locations">
        <button type="button" class="modal__btn--close" data-modal-locations-close>
            <svg width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class=" modal__title modal__title--locations">Find <span>IceCream</span> here!</h3>
            <iframe class="modal__map"
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d21329442.148878552!2d-94.58275336707379!3d39.09898706072556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0LPQvtGA0L7QtNCwINGB0YjQsA!5e0!3m2!1sru!2sua!4v1642339212445!5m2!1sru!2sua"
                width="640" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
    </div>
</div>