<section class="products">
    <div class="container">
        <p class="label">100% natural</p>
        <h2 class="products__main-title title">products</h2>
        <ul class="product-list">
             <li class="product-list__item card-1">
                <h3 class="product-list__title">ice cream</h3>
                <div class="product-list__dots">
                    <!-- <span class="product-list__dot"></span> -->
                </div>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product-list__button product__switch--a">
                    <img 
                    srcset="./images/common/prod-arrow@1x.png 1x, 
                    ./images/common/prod-arrow@2x.png 2x "
                    src="./images/common/prod-arrow@1x.png" alt="кнопка" width="40" height="40">
                </button>
                <div class="overlay overlay--a is-hidden">
                    <p class="overlay__text product-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum pariatur
                        quis commodi asperiores qui id, aliquid tempore possimus magni ullam impedit ipsa maiores error tenetur? Neque
                        explicabo necessitatibus porro nobis voluptates harum iste optio, ipsa ratione, totam tempora placeat suscipit
                        saepe quasi ipsum laudantium exercitationem ducimus doloribus voluptatem aperiam eaque.
                    </p>
                        <button type="button" class="overlay__close product__close--a">
                            <img srcset="./images/common/prod-arrow@1x.png 1x, ./images/common/prod-arrow@2x.png 2x " 
                            src="./images/common/prod-arrow@1x.png" alt="кнопка" width="40" height="40">
                        </button>
                    </div>
            </li>
            <li class="product-list__item card-2">
                <h3 class="product-list__title">ice coffee</h3>
                <div class="product-list__dots">
                    <span class="product-list__dot"></span>
                </div>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product-list__button product__switch--b">
                    <img 
                    srcset="./images/common/prod-arrow@1x.png 1x, 
                    ./images/common/prod-arrow@2x.png 2x " 
                    src="./images/common/prod-arrow@1x.png" alt="кнопка"
                    width="40" height="40">
                </button>
                <div class="overlay overlay--b is-hidden">
                    <p class="overlay__text product-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum pariatur
                        quis commodi asperiores qui id, aliquid tempore possimus magni ullam impedit ipsa maiores error tenetur? Neque
                        explicabo necessitatibus porro nobis voluptates harum iste optio, ipsa ratione, totam tempora placeat suscipit
                        saepe quasi ipsum laudantium exercitationem ducimus doloribus voluptatem aperiam eaque.
                    </p>
                    <button type="button" class="overlay__close product__close--b">
                        <img srcset="./images/common/prod-arrow@1x.png 1x, ./images/common/prod-arrow@2x.png 2x "
                            src="./images/common/prod-arrow@1x.png" alt="кнопка" width="40" height="40">
                    </button>
                </div>
            </li>
            <li class="product-list__item card-3">
                <h3 class="product-list__title">milkshakes</h3>
                <div class="product-list__dots">
                    <span class="product-list__dot"></span>
                </div>
                <p class="product-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product-list__button product__switch--c">
                <img 
                srcset="./images/common/prod-arrow@1x.png 1x, 
                ./images/common/prod-arrow@2x.png 2x " 
                src="./images/common/prod-arrow@1x.png" alt="кнопка"
                width="40" height="40">
                </button>
                <div class="overlay overlay--c is-hidden">
                    <p class="overlay__text product-list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum pariatur
                        quis commodi asperiores qui id, aliquid tempore possimus magni ullam impedit ipsa maiores error tenetur? Neque
                        explicabo necessitatibus porro nobis voluptates harum iste optio, ipsa ratione, totam tempora placeat suscipit
                        saepe quasi ipsum laudantium exercitationem ducimus doloribus voluptatem aperiam eaque.
                    </p>
                    <button type="button" class="overlay__close product__close--c">
                        <img srcset="./images/common/prod-arrow@1x.png 1x, ./images/common/prod-arrow@2x.png 2x "
                            src="./images/common/prod-arrow@1x.png" alt="кнопка" width="40" height="40">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>