<!--------------------Section Customers Reviews------------------->
<section class="reviews__section">
<div class="wrapper container">
        <div class="swiper mySwiper">
            <div class="slider swiper-wrapper">
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-1@1x.png 1x, ./images/common/review-1@2x.png 2x" alt="Dmitry's photo"
                            class="reviews__photo">
                       <div class="review__thumb">
                           <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                       </div>   
                       <div class="reviews-dots">
                        <span></span>
                       </div>
                       <p class="reviwers-data">Dmitry, Los Angeles</p>                 
                </div>
                <div class="slider-item swiper-slide">
                   <img srcset="./images/common/review-2@1x.png 1x, ./images/common/review-2@2x.png 2x" alt="Yuri's photo"
                        class="reviews__photo">
                        <div class="review__thumb">
                            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>
                        </div>
                        <div class="reviews-dots">
                            <span class="review-dot"></span>
                        </div>
                        <p class="reviwers-data">Yurii, Kyiv</p>
                    </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-3@1x.png 1x, ./images/common/review-3@2x.png 2x" alt="Ilona's photo"
                            class="reviews__photo">
                            <div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Ilona, Los Angeles</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-1@1x.png 1x, ./images/common/review-1@2x.png 2x" alt="Tatiana's photo"
                            class="reviews__photo"><div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Tatiana, Kyiv</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-2@1x.png 1x, ./images/common/review-2@2x.png 2x" alt="Valery's photo"
                            class="reviews__photo"><div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Valery, Los Angeles</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-3@1x.png 1x, ./images/common/review-3@2x.png 2x" alt="Vladislav`s photo"
                            class="reviews__photo"><div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Vladislav, Los Angeles</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-1@1x.png 1x, ./images/common/review-1@2x.png 2x" alt="Anna's photo"
                            class="reviews__photo"><div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Anna, Los Angeles</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-2@1x.png 1x, ./images/common/review-2@2x.png 2x" alt="Svetlana's photo"
                            class="reviews__photo"><div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Svetlana, Kyiv</p>
                </div>
                <div class="slider-item swiper-slide">
                    <img srcset="./images/common/review-3@1x.png 1x, ./images/common/review-3@2x.png 2x" 
                            alt="Valeriia's photo" class="reviews__photo">
                            <div class="review__thumb">
                                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                                    accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                            </div>
                            <div class="reviews-dots">
                                <span class="review-dot"></span>
                            </div>
                            <p class="reviwers-data">Valeriia, Kyiv</p>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    
</div>
</section>