.advantages__text {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  max-width: 230px;
  color: $text-one;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.7;
    max-width: 180px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.76;
    max-width: 330px;
  }
}

.advantages {
  background-color: $bg-two;
  width: 100%;
  padding: 20px 0 50px 0;
  @media screen and (min-width: $tablet) {
    padding: 33px 0 70px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 20px 0 70px 0;
  }
}

.advantages-row {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    justify-content: space-between;
  }
}

.advantages__title {
  text-align: left;
  margin-bottom: 15px;
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 38px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}
.advantages__item::before {
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}
.advantages__item {
  &:nth-child(1)::before {
    width: 33px;
    background-image: url(../images/common/adv-1@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/common/adv-1@2x.png);
    }
  }
}
.advantages__item {
  &:nth-child(2)::before {
    width: 50px;
    background-image: url(../images/common/adv-2@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/common/adv-2@2x.png);
    }
  }
}
.advantages__item {
  &:nth-child(3)::before {
    width: 44px;
    background-image: url(../images/common/adv-3@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/common/adv-3@2x.png);
    }
  }
}
