.contacts {
  padding-top: 40px;
  padding-bottom: 113px;

  background-color: $bg-two;
  height: 100%;

  background-image: linear-gradient(to bottom, $bg-one 140px, $bg-two 127px, $bg-two 100%);

  @media screen and(min-width:$desktop) {
    background-image: url(../images/common/contacts.png),
      linear-gradient(to bottom, $bg-one 140px, $bg-two 127px, $bg-two 100%);
    background-repeat: no-repeat;
    background-size: auto 382px;
    background-position: 50% 168px, 0 0;
  }
}
.contacts__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.contacts__item {
  margin: 0 auto;
  padding: 43px 20px;
  width: 220px;
  height: 427px;
  background-color: $bg-one;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    height: 500px;
    padding: 50px 32px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and(min-width: $desktop) {
    padding: 51px 44px 62px 43px;
    width: 330px;
    height: 572px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts__description {
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and(min-width: $tablet) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 32px;
  }
}
.contacts__place-name {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;

  text-transform: uppercase;
  text-align: center;
  color: $text-two;
  background-color: #f0d1a5;
  border-radius: 4px;

  width: 80px;
  height: 16px;

  margin-bottom: 25px;
  @media screen and(min-width:$tablet) {
    font-size: 16px;
    padding-bottom: 25px;
  }
}
.second {
  background-color: #c2e297;
  width: 130px;
  height: 16px;
}
.contacts__city {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $text-one;

  margin-bottom: 10px;
  @media screnn and(min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 16px;
  }
}
.contacts__text {
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.8;
  }
}
.contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and(min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__works-days {
  font-size: 12px;
  line-height: 1.83;
  color: $text-one;
  @media screnn and(min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 16px;
  }
}
.contacts__work-time {
  font-size: 12px;
  line-height: 1.83;
  color: $text-four;
  @media screnn and(min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and(min-width: $desktop) {
    font-size: 16px;
  }
}
.contacts__work {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts__contact {
  padding-top: 25px;
  @media screen and(min-width: $tablet) {
    padding-top: 30px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
  }
}
.contacts__link {
  font-size: 12px;
  line-height: 1.5;
  color: $text-three;
  transition: $switch;
  &:hover,
  &:focus {
    color: $text-accent;
  }
  @media screnn and(min-width: $tablet) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and(min-width: $desktop) {
    font-size: 16px;
    line-height: 1.8;
  }
}

// BUTTONS
.contacts__wrapper-btn {
  margin-top: 54px;
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 196px;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
    margin-left: 380px;
  }
}
.conacts-wrapper__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}
.contacts__btn {
  padding-left: 17px;
  padding-right: 17px;
  width: 161px;
  height: 44px;

  margin-right: auto;
  margin-left: auto;
  border-radius: 22px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;

  @media screen and(min-width:$tablet) {
    margin-right: 14.5px;
  }
}
.contacts__btn-location {
  display: flex;
  // margin-bottom: 10px;
  background-color: #d41342;
  color: $text-two;
  &::after {
    content: '';
    background-image: url(../images/common/vector_1.png);
    background-repeat: no-repeat;
    display: block;

    width: 8px;
    height: 10px;
    margin-left: 8px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
}
.contacts__btn-franchise {
  display: flex;
  padding-left: 32px;
  background-color: $bg-one;
  color: $text-accent;
  &::after {
    content: '';
    background-image: url(../images/common/vector_2.png);
    background-repeat: no-repeat;
    display: block;

    width: 8px;
    height: 10px;
    margin-left: 8px;
  }
}
