.header{
   @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    height: 50px;
  }
}

.header__container {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
   @media screen and (min-width: $desktop) {
    margin-right: 110px;
  }
}

.logo{
    @media screen and (min-width: $desktop) {
      margin-left: -35px;
      margin-right: -35px;
    }
}

.menu__open {
  width: 20px;
  height: 50px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    z-index: 1;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu__open__btn {
  height: 12px;
  width: 20px;
  fill: currentColor;
}

.mobile-menu {
  z-index: 10;
  @media screen and (max-width: 1199px){
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 60px 0;

  background-color: $bg-mobile;
  transform: translateX(-100%);
  transition: transform $switch;
  
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    max-width: 254px;
    transform: translateX(-100%);
    transition: transform $switch;
  }

  &--shown {
    transform: translateX(0%);
  }
  }

  @media screen and (min-width: $desktop) {
    position: fixed;
    top: 38px;
    margin-left: 13%;
    max-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: $bg-three;
    border-radius: 22px;
     
  }
}

.menu__close {
  position: absolute;
  top: 23px;
  right: 28px;
  background: transparent;
  border: none;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu__close__btn {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.mobile__btn {
  width: 209px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  border-radius: 22px;
  border: none;
  background-color: $bg-one;
  color: $text-accent;

  &--arrow {
    margin-left: 20px;
    height: 12px;
    @media screen and (min-width: $tablet) {
      margin-left: 12px;
    }
  }
   @media screen and (min-width: $desktop) {
    width: 159px;
  }
  &:hover,
  &:focus {
    background-color: $bg-hover-two;
    color: $text-accent;
    transition: color $switch;
  }
}

.nav {
  margin-top: 19px;
  font-weight: 700;
  line-height: 1.29;
  color: $text-two;
  @media screen and (min-width: $desktop) {
    margin: 0 110px 0 0;
    font-size: 16px;
  }
}

.nav__list {
  @media screen and (min-width: $desktop) {
    width: 541px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__item {
  @media screen and (max-width: 1199px) {
    border-bottom: 1px solid #e18298;
  }
  &:hover,
  &:focus {
    color: $text-accent;
    transition: color $switch;
  }
}

.nav__link {
  display: block;
  width: 209px;
  padding: 13px 0 11px 0;
  margin: 0 auto;
   @media screen and (min-width: $desktop) {
    width: auto;
     &:first-child {
      padding-left: 15px;
    }
  }
}

.mobile__btn--tablet {
  display: none;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    z-index: 1;
    width: 160px;
    margin: 0 0 0 30px;
  }
}
