.products {
  padding-top: 121px;
  padding-bottom: 98px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: $tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  // @media screen and (min-width: $desktop) {
  //   padding-top: 127px;
  //   padding-bottom: 119px;
  // }
}

.products__main-title {
  margin-bottom: 144px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    margin-bottom: 150px;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-bottom: 259px;
  // }
}

.product-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-right: -20px;
  }
}

.product-list__item {
  position: relative;
  margin-bottom: 130px;
  width: 100%;
  // width: 280px;
  // height: 485px;
  border-radius: 24px;
  // padding-top: 161px;
  // padding-bottom: 40px;
  padding: 161px 39px 41px 41px;
  &:last-child {
    margin-bottom: 0px;
  }
  &::before {
    content: '';
    width: 249px;
    height: 252px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 16px;
    bottom: 346px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 152px 11px 40px 11px;
    &::before {
      width: 220px;
      height: 233px;
      left: 0px;
      bottom: 363px;
    }
  }
}

.card-1 {
  background: #ffb8ca;
  &::before {
    background-image: url(../images/mobile/m-prod-cream@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mobile/m-prod-cream@2x.png);
    }
    @media screen and (min-width: $tablet) {
      background-image: url(../images/tablet/t-prod-cream@1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tablet/t-prod-cream@2x.png);
      }
    }
    // @media screen and (min-width: $desktop) {
    //   background-image: url(../images/desktop/d-prod-cream@1x.png);
    //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //     background-image: url(../images/desktop/d-prod-cream@2x.png);
    //   }
    // }
  }
}

.card-2 {
  background: #f0d1a5;
  &::before {
    background-image: url(../images/mobile/m-prod-coffee@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mobile/m-prod-coffee@2x.png);
    }
    @media screen and (min-width: $tablet) {
      background-image: url(../images/tablet/t-prod-coffee@1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tablet/t-prod-coffee@2x.png);
      }
    }
    // @media screen and (min-width: $desktop) {
    //   background-image: url(../images/desktop/d-prod-coffee@1x.png);
    //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //     background-image: url(../images/desktop/d-prod-coffee@2x.png);
    //   }
    // }
  }
}

.card-3 {
  background: #c2e297;
  &::before {
    background-image: url(../images/mobile/m-prod-shake@1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/mobile/m-prod-shake@2x.png);
    }
    @media screen and (min-width: $tablet) {
      background-image: url(../images/tablet/t-prod-shake@1x.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/tablet/t-prod-shake@2x.png);
      }
    }
    // @media screen and (min-width: $desktop) {
    //   background-image: url(../images/desktop/d-prod-shake@1x.png);
    //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //     background-image: url(../images/desktop/d-prod-shake@2x.png);
    //   }
    // }
  }
}

.product-list__title {
  position: relative;
  margin-bottom: 66px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-two;
}

.product-list__text {
  // padding: 0 40px;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: calc(21 / 14);
  letter-spacing: 0.04em;
  color: $text-two;
  @media screen and (min-width: $tablet) {
    line-height: calc(25 / 14);
    // padding-left: 11px;
    // padding-right: 11px;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.overlay__text {
  overflow: scroll;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.overlay.is-hidden {
  transform: rotate3d(0, 1, 0, 180deg);
  transition: transform $switch;
}
.overlay {
  position: absolute;
  bottom: 35px;
  left: 0;
  height: 295px;
  padding: 0 40px;
  border-radius: 24px;
  overflow: scroll;
  z-index: 1;
  transform: rotate3d(0, 1, 0, 360deg);
  transition: transform $switch;
  @media screen and (min-width: $tablet) {
    padding: 0 11px;
  }
}

.overlay--a {
  background-color: #ffb8ca;
}

.overlay--b {
  background-color: #f0d1a5;
}

.overlay--c {
  background-color: #c2e297;
}

.overlay__close {
  // position: absolute;
  // top: 20px;
  // right: 20px;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.product-list__button {
  background: transparent;
  border: 0;
  margin: 0 auto;
}

// .product-list__dot {
//   display: block;
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   background-color: $bg-one;
// }

// .product-list__dots::before {
//   content: '';
//   display: block;
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   background-color: $bg-one;
// }

// .product-list__dots::after {
//   content: '';
//   display: block;
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   background-color: $bg-one;
// }

// .product-list__dots {
//   display: flex;
//   width: 26px;
//   justify-content: space-between;
//   margin: 0 auto;
//   margin-bottom: 30px;
// }

.product-list__title::after {
  position: absolute;
  left: 106px;
  bottom: -30px;
  content: '';
  // display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $bg-one;
}

.product-list__title::before {
  position: absolute;
  left: 86px;
  bottom: -30px;
  content: '';
  // display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $bg-one;
}

.product-list__dots::after {
  content: '';
  position: absolute;
  left: 137px;
  top: 208px;
  // display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $bg-one;
  @media screen and (min-width: $tablet) {
    left: 107px;
    top: 199px;
  }
}
