.reviews__section {
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: $mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #d9d9d9;
}
.wrapper {
  background-color: transparent;
}

.swiper {
  width: 100%;
  @media screen and (min-width: $mobile) {
    height: 580px;
  }
  @media screen and (min-width: $tablet) {
    height: 382px;
  }
  @media screen and (min-width: $desktop) {
    height: 350px;
  }
}
.slider-item {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.swiper-pagination-bullet-active {
  background-image: url(../images/common/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 0%;
}

.reviews__photo {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $mobile) {
    margin-bottom: 29px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}
.review__thumb {
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  padding-bottom: 26px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 12px;
  line-height: 2.583;
  text-align: center;

  color: #000000;
  background-color: #fafafa;
  @media screen and (min-width: $mobile) {
    width: 157px;
  }
  @media screen and (min-width: $tablet) {
    width: 460px;
  }
  @media screen and (min-width: $desktop) {
    width: 750px;
  }
}
.review__text {
  z-index: 10;
  display: block;
  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 30px,
    #e1e1e1 30px,
    #e1e1e1 31px,
    transparent 31px,
    transparent 61px,
    #e1e1e1 61px,
    #e1e1e1 62px
  );
}
.review__thumb::before {
  position: absolute;
  left: 45px;
  top: 28px;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  //   z-index: 2;
  background-image: url(../images/common/symbol.svg);
}
.reviews-dots {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  display: flex;
  z-index: 9;
}
.reviews-dots span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  background-color: #d41443;
}
.reviews-dots::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #d41443;
}
.reviews-dots::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #d41443;
}
.reviwers-data {
  text-align: center;
  @media screen and (min-width: $mobile) {
    margin-top: 18px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 14px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 15px;
  }
}
